
/*
     FILE ARCHIVED ON 18:28:42 Apr 05, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 11:28:01 Feb 03, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.077
  exclusion.robots.policy: 0.066
  cdx.remote: 0.101
  esindex: 0.008
  LoadShardBlock: 195.741 (6)
  PetaboxLoader3.datanode: 160.51 (7)
  load_resource: 84.191
  PetaboxLoader3.resolve: 45.947
*/